.root {
	-fx-font-size: 14;
}

.button {
	-fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.toggle-button {
	-fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.toggle-button:selected {
	-fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-background-color: blue;
    -fx-text-fill: white;
}

.list-view {
	-fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.table-view {
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.table-header {
    -fx-font-size: 16px;
    -fx-font-weight: bold; 
    -fx-fill: blue;
    -fx-border-insets: 5px;
    -fx-padding: 5px 0 0 5px;
}

#sldRightMotor {
	-fx-padding: 0 10px 0 0;
}

#sldLeftMotor {
	-fx-padding: 0 0 0 0;
}

#stackPaneCam {
    -fx-padding: 10px 30px 10px 10px;
}

#robot3DView {
	-fx-padding: 40px;
}

.text-field {
   	-fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.text-area {
   	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}