.root {
	-fx-font-size: 14;
}

.button {
	-fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.list-view {
	-fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.table-view {
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.text-field {
   	-fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}